body{
  color: #007bff;
  font-size: 16px;
  font-family: 'MuseoModerno', cursive;
}
nav.navbar{
  font-weight: bolder;
  margin-bottom: 20px;
}
li.nav-item{
  font-size: 20px;
  padding-left: 3px;
}
a.nav-link{
  color: white !important;
}
li.nav-item:hover{
  background-color: #444444;
}
/* li.list-group-item:hover{
  background-color: #898989;
} */
div.ask-form{
  text-align:center;
}
span{
  margin: auto;
}
div.pagination{
  margin-top: 20px;
}
div.enlisting{
  margin-top: 20px;
}
#ask-question{
  /* padding: 3px; */
  border: 1.5px solid white;
  border-radius: 8px;
  margin: inherit;
  /* border-color: white; */
}
/* #search-question,#filter-question{
  height: 50px;
  width: 200px
} */
