body{
  color: #007bff;
  font-size: 16px;
  font-family: 'MuseoModerno', cursive;
}
nav.navbar{
  font-weight: bolder;
  margin-bottom: 20px;
}
header{
  margin-bottom: 30px;
}
li.nav-item{
  font-size: 20px;
  padding-left: 3px;
}
.nav-link:hover{
  color: #007bff !important;
}
a.nav-link{
  color: white !important;
}
div.ask-form{
  text-align:center;
}
span{
  margin: auto;
}
div.pagination{
  margin-top: 20px;
}
div.enlisting{
  margin-top: 20px;
}
#ask-question{
  border: 1.5px solid white;
  border-radius: 8px;
  margin: inherit;
}
#ask-question:hover{
  border: 1.5px solid #007bff;
}
