{% extends "base.html" %}

{% block title %}<title>Popular</title>{% endblock %}

{% block content %}
  <div class="enlisting">
      {% for q in question %}
      <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><a href="/question/{{ q.pk }}">{{ q.title }}</a></li>
        </ul>
      </div>
  </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                <span class="current">
                    <li class="page-item active"><a href="?page={{ page_obj.number }}" class="page-link">{{ page_obj.number }}</a></li>
                </span>
                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
                {% endif %}
                </ul>
            </nav>
        </span>
    </div>
{% endblock %}
